[submodule "cpp/bazel-abseil"]
	path = cpp/bazel-abseil
	url = git@github.com:j-haines/bazel-abseil
[submodule "py3/asyncio-cli"]
	path = py3/asyncio-cli
	url = git@github.com:j-haines/asyncio-cli
[submodule "py3/aiohttp/vue-webpack"]
	path = py3/aiohttp/vue-webpack
	url = git@github.com:j-haines/aiohttp-vue-webpack
[submodule "py3/aiohttp/typescript-vue-webpack"]
	path = py3/aiohttp/typescript-vue-webpack
	url = git@github.com:j-haines/typescript-vue-webpack.git
[submodule "cpp/cmake-doctest-fmtlib"]
	path = cpp/cmake-doctest-fmtlib
	url = git@github.com:j-haines/cmake-doctest-fmtlib.git
